{% extends 'base.html' %}
{% block content %}
<br>
<div class="main">
    <h1>About page</h1>
    <div class="main">
        <div class="border_text_create_edit">
            <p style="font-size: 18px;">This is a project for businesses and companies to add and update businesses to
                the website. Built using the Django framework.</p>
            <img src="https://seeklogo.com/images/D/django-logo-4C5ECF7036-seeklogo.com.png" style="width:50px;">
            <img src="https://cdn-icons-png.flaticon.com/512/732/732212.png" style="width:50px;">
        </div>
    </div>
</div>

{% endblock %}

