{% extends 'base.html' %}
{% block content %}
<br>
<div class="main">
    <div class="main" style="padding-left:20px;">
        <div class="border_text_create_edit">
            <div style="text-align: center;">
                <h3>Contact us</h3>
                <a href="mailto:amir.2000.ba@gmail.com">
                    <img src="https://workspace.google.com/static/img/products/png/gmail.png?cache=f50ecb6"
                         style="width:50px;">
                </a>

                <a href="https://www.linkedin.com/in/amir-baakhlagh-6aaa96272/">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/ca/LinkedIn_logo_initials.png/800px-LinkedIn_logo_initials.png"
                         style="width:50px;">
                </a>

                <img src="https://upload.wikimedia.org/wikipedia/commons/9/95/Instagram_logo_2022.svg"
                     style="width:50px;">
            </div>
        </div>
    </div>
</div>
{% endblock %}
