{% extends 'base.html' %}
{% block content %}

<h1 class="main">Home page</h1>


<!--<div class="row_text">-->
<!--    <div class="column_text">  col_row -->
<!--    <div class="border-with-shadow"> border_shadow -->

<div class="main">
    <div class="border_text_list">
        <h3>pdate Name Partners </h3>
        <ul>
            {% for company in comp2 %}
            <li style="font-size:125%;">
                {{company.name_partners}}
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
<!--    </div>-->

<!--<div class="column_text">-->
<!--    <h3 class="main">Update job</h3>-->
<!--    <ul class="main">-->
<!--        {% for job in job_li %}-->
<!--        <li style="font-size:125%;">-->
<!--            {{job.first_name}} {{job.last_name}}-->
<!--        </li>-->
<!--        {% endfor %}-->
<!--    </ul>-->
<!--</div>-->
<!--</div>-->
{% endblock %}
