{% extends 'base.html' %}
{% block content %}
<h1 class="main">Job page</h1>
<div class="main">
    <div class="border_text_list">
        <button class="button">
            <a class="button" href="{% url 'job_create' %}">+ Create Job</a>
        </button>
        {% for job in job_list %}
        <h2>
            <a href="{% url 'job_details' job.pk %}" class="link_main">
                {{ job.first_name }} {{ job.last_name }}
            </a>
        </h2>

        {% endfor %}
    </div>
</div>

{% endblock content %}