{% load static %}
{% block content %}

<head>
    <link rel="stylesheet" href="{% static 'css/web_style.css' %}">
</head>
    <h1>Edit post</h1>
    <div class="main" style="padding-left:200px;">
        <div class="border_text_create_edit">
            <br>
            <b> {{up_job.name_book}}</b>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Update" class="button">
                <button class="button_back" type="button">
                    <a class="button_back" href="{% url 'job_list' %}">Cancel</a>
                </button>
            </form>
        </div>
    </div>


    {% endblock content %}