{% extends 'base.html' %}
{% block content %}


<h2 class="main">Add Job</h2>
<hr>
<div class="main" style="padding-left:200px;">
    <div class="border_text_create_edit">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <p>* You can not upload images and text.</p>
            <input type="submit" value="Save" class="button">
            <a class="button_back" href="{% url 'job_list' %}">back</a>
        </form>
    </div>
</div>

{% endblock content %}