{% extends 'base.html' %}

{% block content %}

<div class="main">
    <div class="border_text_list">
        <h2>
            {{job_details.first_name}} {{job_details.last_name}}
        </h2>
        <p>
            <b>Email : </b>{{job_details.email}}
        </p>
        <p>
            <b>Number phone : </b>{{job_details.phone_number}}
        </p>
        <p>
            <b>Text : </b>{{job_details.text}}
        </p>

        <a href="{% url 'job_update' job_details.pk %}" class="button">+ Edit Book</a>
        <a class="button_back" href="{% url 'job_delete_urls' job_details.pk %}">- Delete Book</a>
        <br>
        <br>
        <button class="button_back_details" type="button">
            <a class="button_back_details" href="{% url 'job_list' %}">back</a>
        </button>

    </div>
</div>
{% endblock content %}